body {
  opacity: .85;
  background-image: url('../images/library.jpg');
}

input {
  text-align: center;
}

.resultBox {
  background: white;
  border-color: black;
}

div.card:hover {
  border-left-width: 3px;
  border-left-color: CornFlowerBlue;
  transition: .5s;
}

div.card {
  border-left-width: 3px;
}